.header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 12px auto;
  z-index: 10;
}

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
}

.dropdown {
  display: none;

  &Open {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 0;
    display: flex;
    background-color: aquamarine;
  }
}

.dropdownContainer {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}
